@import "~antd/dist/antd.css";

.antd-table-custom-class thead th,
.antd-table-custom-class tbody td {
  white-space: nowrap;
  word-break: break-word;
  word-break: break-all;
}

/* .sdp{
  width: 500px;
} */
