/* 스크롤없어지는거 막기 */
html {
  overflow-y: scroll !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll custom */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
/*  */
.fade-in {
  animation: fadeIn;
  animation-duration: 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f2227;
    --text-color: #c0c0c0;
    --hilight-color: #8db4d6;
  }

  /* Some data colors. Light mode uses defaults */
  .highcharts-color-0 {
    fill: #000000;
    stroke: #000000;
  }
  .highcharts-color-1 {
    fill: #9696ab;
    stroke: #9696ab;
  }
}
.highcharts-background {
  fill: var(--background-color);
}
.highcharts-container text {
  fill: var(--text-color);
}
.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
  fill-opacity: 0.7;
}
.highcharts-grid-line {
  stroke: var(--text-color);
  stroke-opacity: 0.2;
}
.highcharts-tooltip-box {
  fill: var(--background-color);
}
.highcharts-column-series rect.highcharts-point {
  stroke: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f2227;
    --text-color: #c0c0c0;
    --hilight-color: #8db4d6;
  }

  
  /* Some data colors. Light mode uses defaults */
  .highcharts-color-0 {
    fill: #000000;
    stroke: #000000;
  }
  .highcharts-color-1 {
    fill: #9696ab;
    stroke: #9696ab;
  }
}
.highcharts-background {
  fill: var(--background-color);
}
.highcharts-container text {
  fill: var(--text-color);
}
.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
  fill-opacity: 0.7;
}
.highcharts-grid-line {
  stroke: var(--text-color);
  stroke-opacity: 0.2;
}
.highcharts-tooltip-box {
  fill: var(--background-color);
}
.highcharts-column-series rect.highcharts-point {
  stroke: var(--background-color);
}